<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342834223004-f3kd4s611uig352ejna8r64p9p9d63o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342834223004-f3kd4s611uig352ejna8r64p9p9d63o1</string>
	<key>API_KEY</key>
	<string>AIzaSyBqYEVJ0JLUzzHkwIqZ71n8nz_K5wELoow</string>
	<key>GCM_SENDER_ID</key>
	<string>342834223004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-23.SeptemberProject</string>
	<key>PROJECT_ID</key>
	<string>septemberproject-e3024</string>
	<key>STORAGE_BUCKET</key>
	<string>septemberproject-e3024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342834223004:ios:f36eb8946e7f27ee6d9a59</string>
</dict>
</plist>